body {
  position: relative;
  background: url('../images/back.jpg') no-repeat 0 0;
  font-family: 'BioRhyme', serif;
}
#wrapper {
  position: relative;
  left: 50%;
  float: left;
}
#gameplanGraphic {
  position: relative;
  left: -50%;
  top: 200px;
  float: left;
}
.preloadCar.E {
  background-image: url('../images/car01/car01iso_0007.png');
}
.preloadCar.S {
  background-image: url('../images/car01/car01iso_0001.png');
}
.preloadCar.W {
  background-image: url('../images/car01/car01iso_0003.png');
}
#car {
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: url('../images/car01/car01iso_0005.png');
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
#car.E {
  background-image: url('../images/car01/car01iso_0007.png');
}
#car.S {
  background-image: url('../images/car01/car01iso_0001.png');
}
#car.W {
  background-image: url('../images/car01/car01iso_0003.png');
}
#explosion {
  position: absolute;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1000;
}
#explosion.fire {
  background-image: url('../images/explosion.gif');
}
.row {
  height: 40px;
}
.row .tile {
  float: left;
  width: 40px;
  height: 40px;
  background-image: url('../images/tiles/tile_1.png');
  background-size: contain;
}
.row .tile._2 {
  background-image: url('../images/tiles/tile_2.png');
}
.row .tile._3 {
  background-image: url('../images/tiles/tile_3.png');
}
.row .tile._4 {
  background-image: url('../images/tiles/tile_4.png');
}
.row .tile._5 {
  background-image: url('../images/tiles/tile_5.png');
}
.row .tile.top {
  background-image: url('../images/tiles/top.png') !important;
}
.row .tile.left {
  background-image: url('../images/tiles/left.png') !important;
}
.row .tile.right {
  background-image: url('../images/tiles/right.png') !important;
}
.row .tile.bottom {
  background-image: url('../images/tiles/bottom.png') !important;
}
.row .tile.top.left {
  background-image: url('../images/tiles/top_left.png') !important;
}
.row .tile.top.right {
  background-image: url('../images/tiles/top_right.png') !important;
}
.row .tile.bottom.left {
  background-image: url('../images/tiles/bottom_left.png') !important;
}
.row .tile.bottom.right {
  background-image: url('../images/tiles/bottom_right.png') !important;
}
